# Виртуальные окружения
.venv/
venv/
env/
lab1/
# Служебные файлы Python
pycache/
*.pyc

# Настройки PyCharm
.idea/

# Автоматически созданные результаты
results/

# Логи программы
*.log

# Временные файлы
*.tmp
.DS_Store